*{
	margin: 0;
	padding: 0;
}
.wrap{
	background: url('../img/screen/bgd_star.png') no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/screen/bgd_star.png', sizingMethod= 'scale');
	overflow: hidden;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}

/*-------- 閿熸枻鎷烽敓鏂ゆ嫹 --------*/
.title{
	text-align: center;
}
.title img{
	z-index: 100;
}
.title p{
	color: white;
	font-size: 20px;
	font-weight: bolder;
	margin-top: -40px;
	z-index: 200;
	text-align: center;
}
.currentTime{
	position: fixed;
	top: 5px;
	left: 8px;
	color: white;
	font-size: 14.5px;
	font-weight: bold;
	z-index: 1000;
}

/*-------- 閿熸枻鎷烽敓绉告晠锟� --------*/
.content1{
	width: 99%;
	margin: 0px auto;
}
.con_title{
	display: inline-block;
	padding: 2px 20px;
	background: rgb(63, 188, 239);
	letter-spacing: 5px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0px;
	border-radius: 3px;
	behavior: url(pie.htc);
}
.empStateTitle{
	color: #dcdcdc;
	font-size: 18px;
	font-weight: bold;
    position:relative;
    top:-10px;
    margin-bottom:20px;
}
.infoDiv{
	width: 100%;
	border: 1px solid rgb(16, 89, 129);
	position: relative;
}
.section{
	width: 12.8%;
	float: left;
	color: white;
	text-align: center;
}
.section_01{
	width: 6%;
}
.section_02{
	width: 15%;
}
.section_08{
	margin-right: 0;
}
.section p{
	color: rgb(46, 202, 247);
	font-size: 18px;
	font-weight: bold;
	margin: 8px 0px;
}
/*---- 閿熼摪璁规嫹 ----*/
.temperature{
	height: 150px;
	position: relative;
}
.temperature img{
	height: 100%;
	margin-bottom: 5px;
}
.temperature .temp_unit{
	position: absolute;
	top: 0;
	left: 60%;
	font-weight: bold;
}
.temperature .temp_num{
	width: 100%;
	display: inline-block;
	text-align: center;
	position: absolute;
	bottom: 6%;
	left: 0;
	font-weight: bold;
	font-size:14px;
}
.showTemp{
	width: 14px;
	height: 113px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -7px;
}
#temp_red_bottom{
	width: 100%;
	height: 15%;
	/*background: rgb(255, 3, 3);*/
	background: -webkit-linear-gradient(top,#64e72a,#FF0303);
	background: -ms-linear-gradient(top, #64e72a 0%,#FF0303 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#64e72a, endColorstr=#FF0303,GradientType=0);
    
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1000;
}
#temp_green{
	width: 100%;
	height: 25%;
	background: rgb(0, 205, 0);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 800;
}
#temp_red_top{
	width: 100%;
	height: 80%;
	/*background: rgb(255, 3, 3);*/
	background: -webkit-linear-gradient(top,#FF0303,#64e72a);
	background: -ms-linear-gradient(top, #FF0303 0%,#64e72a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#FF0303, endColorstr=#64e72a,GradientType=0 );
    
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 500;
}
/*---- 婀块敓鏂ゆ嫹 ----*/
.humidity{
	width: 100%;
	height: 160px;
}
.humidity img{
	height: 150px;
}
/*---- 数字 ----*/
.numberDiv{
	width: 73%;
	height: 70px;
	margin: 45px auto;
	border-radius: 5px;
	background: rgb(100, 100, 100);
	border: 5px solid rgb(100, 100, 100);
}
.numberDiv1{
	width: 80%;
	height: 70px;
	margin: 45px auto;
	border-radius: 5px;
	background: rgb(100, 100, 100);
	border: 5px solid rgb(100, 100, 100);
}
.numberDiv div{
	display: inline-block;
	float: left;
	width: 25%;
	height: 100%;
	font-size: 35px;
	border-radius: 5px;
	/*border: 1px solid rgb(130, 130, 130);
	box-sizing: border-box;*/
	text-shadow: #FFFFFF 0px 3px 5px;
	overflow: hidden;
	position: relative;
}
.numberDiv1 div{
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	font-size: 35px;
	border-radius: 5px;
	/*border: 1px solid rgb(130, 130, 130);
	box-sizing: border-box;*/
	text-shadow: #FFFFFF 0px 3px 5px;
	overflow: hidden;
	position: relative;
}
.numberDiv div span{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
	color: black;
	border-radius: 5px;
	background: url(../img/screen/3D_bgd_01.png);
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	border: 2px solid rgb(130, 130, 130);
	box-sizing: border-box;
	/* box-shadow: inset 0px 0px 4px 3px rgb(200, 200, 200); */
}
.numberDiv1 div span{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
	color: black;
	border-radius: 5px;
	background: url(../img/screen/3D_bgd_01.png);
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	border: 2px solid rgb(130, 130, 130);
	box-sizing: border-box;
	/* box-shadow: inset 0px 0px 4px 3px rgb(200, 200, 200); */
}
.con1{
	top: -100%;
}
.con2{
	top: 0;
}
.con3{
	top: 100%;
}
/*----- 閿熶茎闈╂嫹閿熺鏂ゆ嫹 -----*/
.corner{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.corner1{
	display: block;
	width: 15px;
	height: 3px;
	background: rgb(63, 188, 239);
	position: absolute;
}
.corner2{
	display: block;
	width: 3px;
	height: 15px;
	background: rgb(63, 188, 239);
	position: absolute;
}
#c_leftup01{
	top: 0;
	left: 0;
}
#c_leftdown02{
	bottom: 0;
	left: 0;
}
#c_rightup03{
	top: 0;
	right: 0;
}
#c_rightdown04{
	bottom: 0;
	right: 0;
}

/*-------- 閿熷彨鎲嬫嫹 --------*/
.content2{
	width: 99%;
	margin: 0px auto;
}
.content2 table{
	border-collapse: collapse;
	background: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	font-size: 16px;
}
.content2 table th{
	color: white;
	background: rgba(0, 80, 115, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5005073,endColorstr=#E5005073);
	border: 1px solid rgb(16, 89, 129);
	padding: 5px 0px;
	background-clip: padding-box;
}
.th_01{
	width: 25%;
}
.th_02{
	width: 20%;
}
.th_03{
	width: 15%;
}
.th_04{
	width: 10%;
}
.content2 table td{
	text-align: center;
	color: rgb(210, 210, 210);
	border: 1px solid rgb(16, 89, 129);
	padding: 5px 0px;
	background-clip: padding-box;
}
.progressDiv{
	display: inline-block;
	width: 200px;
	height: 16px;
	margin: 0px auto;
	border-radius: 8px;
	background: rgb(0, 255, 255);
	vertical-align: middle;
	position: relative;
	z-index: 100;
}
.progressChange{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 8px;
	background: rgb(32, 174, 247);
	z-index: 200;
	text-align: center;
	color: white;
	line-height: 16px;
}
.pc01{
	width: 55%;
}
.pc02{
	width: 80%;
}

/*-------- 閿熷彨鎲嬫嫹 --------*/
.content3{
	width: 99%;
	margin: 0px auto;
}
.content3 table{
	border-collapse: collapse;
	background: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	font-size: 16px;
}
.content3 table th{
	color: white;
	background: rgba(0, 80, 115, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5005073,endColorstr=#E5005073);
	border: 1px solid rgb(16, 89, 129);
	padding: 5px 0px;
	background-clip: padding-box;
}
.content3 table td{
	text-align: center;
	color: rgb(210, 210, 210);
	border: 1px solid rgb(16, 89, 129);
	padding: 5px 0px;
	background-clip: padding-box;
}

/*-------- 鍥鹃敓鏂ゆ嫹 --------*/
.content4{
	width: 99%;
	margin: 0px auto;
	margin-top: 10px;
}
.content4 table{
	float: left;
	border-collapse: collapse;
	background: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	font-size: 16px;
	margin-top: 10px;
}
.content4 table th{
	color: white;
	background: rgba(0, 80, 115, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5005073,endColorstr=#E5005073);
	border: 1px solid rgb(16, 89, 129);
	padding: 5px 0px;
	background-clip: padding-box;
}
.content4 table td{
	height:50px;
	text-align: center;
	color: rgb(210, 210, 210);
	border: 1px solid rgb(16, 89, 129);
	background-clip: padding-box;
}
.people{
	width: 40px;
	height: 40px;
	margin: 5px 0px;
}
.politic{
	width: 24px;
	height: 24px;
}
.workState{
	width: 16px;
	height: 16px;
}
.picture1{
	width: 33%;
	height: 280px;
	float: left;
	margin-left: 15px;
}
.picture2{
	width: 33%;
	height: 280px;
	float: right;
}
.picture1 img, .picture2 img{
	width: 100%;
	height: 100%;
}

/*-------- 閿熻姤璀� --------*/
.warning{
	width: 300px;
	height: 100px;
	position: fixed;
	top: 0px;
	right: 0px;
	background: rgba(255, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FF0000,endColorstr=#B2FF0000);
	color: white;
	padding: 20px;
	display: none;
}
.warningTitle{
	text-align: center;
	margin-bottom: 10px;
}
.warningInfo{
	line-height: 25px;
	letter-spacing: 1px;
	font-size: 15px;
}